.search-wrapper {
    position: relative;
    margin-bottom: 36px;
}

.fa-search {
    color: rgb(155,155,155);
    font-size: 20px;
    left: 18px;
    position: absolute;
    top: 14px;
}
.search-input {
    background: rgba(155,155,155, 0.15);
    border: none;
    border-radius: 99px;
    height: 48px;
    padding-left: 52px;
    width: 100%;
}
.search-input:focus {
    background: none;
    border: rgba(155,155,155,0.15) 3px solid;
    outline: none;
    transition: background-color 0.3s;
}