@import url('https://fonts.googleapis.com/css?family=Ubuntu:500,700');

#root {
    color: rgb(111,111,111);
    font-family: 'Ubuntu', sans-serif;
    min-height: 242px;
    width: 350px;
}

/* global default styles */
button {
    background: none;
    box-sizing: content-box;
    border-radius: 99px;
    border: rgba(155,155,155,0.3) 4px solid;
    color: rgb(155,155,155);
    font-size: 20px;
    line-height: 20px;
    padding: 12px;
    width: 20px;
}
button:hover {
    background: rgba(155,155,155,0.15);
    cursor: pointer;
    transition: all 0.3s;
}
button:focus {
    outline: none;
}

p {
    overflow-wrap: break-word;
    font-size: 16px;
    margin: 0;
}