#main-container {
    padding: 24px;
}

#header {
    display: flex;
    margin-bottom: 18px;
}

.title {
    align-self: flex-end;
    color: rgb(111,111,111);
    font-weight: bold;
    line-height: 18px;
    margin: 0;
}
.title-line {
    display: inline-block;
    background-color: rgba(155,155,155, 0.3);
    margin-top: 6px;
    height: 4px;
    width: 210px;
}