#main-container {
    padding: 12px 18px;
    height: inherit;
    width: inherit;
}

#header {
    display: flex;
    margin-bottom: 12px;
}

/* same style as components/Note.css > .trash-icon class */
.eraser-button {
    border-color: rgba(231,151,151,0.3);
    color: rgb(231,151,151);
}
.eraser-button:hover {
    background: rgba(231,151,151,0.15);
}

.title {
    align-self: flex-end;
    color: rgb(111,111,111);
    font-size: 1.4em;
    font-weight: bold;
    line-height: 0.7em;
    margin: 0;
}
.title-line {
    display: inline-block;
    background-color: rgba(155,155,155, 0.3);
    height: 3px;
    width: 170px;
}

.help-buttons-wrapper {
    margin-bottom: 1.4em;
    overflow-x: hidden;
    white-space: nowrap;
}
.help-buttons-wrapper button {
    font-weight: bold;
    padding: 9px 12px;
    width: auto;
}
#main-container .help-buttons-wrapper button:first-of-type {
    margin: 0;
}
.help-buttons-wrapper button svg {
    vertical-align: bottom;
}
.help-buttons-wrapper h6 {
    display: inline-block;
    margin-left: 0.5em;
    margin-bottom: 0;
}
.button-url {
    border-color: rgba(105,137,198,0.3);
    color: rgb(105,137,198);
}
.button-url:hover {
    background: rgba(105,137,198,0.15);
}
.button-add-note {
    border-color: rgba(111,171,121,0.3);
    color: rgb(111,171,121);
}
.button-add-note:hover {
    background: rgba(111,171,121,0.15);
}

#main-container button {
    margin-left: 0.5em;
}

.notification {
    background: white;
    bottom: 0;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
    font-weight: 700;
    left: 0;
    padding: 0.6em;
    position: fixed;
    text-align: center;
    min-width: 100%;
    z-index: 10;
}